body{
    color : #14248a;
    background-color: #f9f5ff; 
}
.body{
    border: 2px solid black;
    border-radius: 20px;
    background-color: #edbfb7;
}
span{
    color: #210124;
    font-weight: 500;
    font-size: large;
}